:root {
  --bg: #f7f2eb; /* marrom claro/bege */
  --accent: #b57b4a;
  --muted: #7b6a5a;
  --text: #3b332e;
  --leaf1: #c88f5a;
  --leaf2: #a76c3b;
  --leaf3: #e0b48a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  overflow-y: hidden; /* esconde barra vertical */
}

.container {
  text-align: center;
  padding: 60px 20px;
  position: relative;
  min-height: 100vh;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 72px;
  color: var(--accent);
  margin-bottom: 20px;
}
h1 span {
  display: inline-block;
  margin: 0 10px;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 80px;
  color: var(--accent);
  margin: 10px 0;
}
h3 {
  font-size: 20px;
  color: var(--muted);
  letter-spacing: 2px;
  margin-top: 20px;
}
p {
  margin: 12px 0;
  font-family: Lora, serif;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin: 8px;
  padding: 14px 26px;
  border-radius: 30px;
  background: var(--accent);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  background: #9e6537;
}

.btn.ghost {
  background: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
}

.btn.ghost:hover {
  background: var(--accent);
  color: #fff;
}

.flowers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.flowers img {
  width: 400px;
  max-width: 40%;
  pointer-events: none;
}

.leaf {
  position: absolute;
  top: -10vh;
  width: 20px;
  height: 20px;
  background: var(--leaf1);
  border-radius: 50%;
  opacity: 0.9;
  pointer-events: none;
}

footer {
  margin-top: 60px;
  font-weight: 600;
  color: var(--muted);
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  .btn {
    display: block;
    width: 70%;
    margin: 10px auto;
    margin-top: 20px;
  }

  .flowers img {
    max-width: 48%;
    pointer-events: none;
  }

  .margem-paragrafo {
    margin-top: 40px;
  }

  .margem-inferior {
    margin-bottom: 40px;
  }
}
